[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-location{
	width: 16px;
	height: 22px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-car{
	width: 40px;
	height: 21px;
	background: url(../img/icons/car.png) no-repeat center center;
}

.icon-cart{
	width: 28px;
	height: 21px;
	background: url(../img/icons/cart.png) no-repeat center center;
}

.icon-email{
	width: 29px;
	height: 21px;
	background: url(../img/icons/email.png) no-repeat center center;
}

.icon-flag{
	width: 38px;
	height: 29px;
	background: url(../img/icons/flag.png) no-repeat center center;
}

.icon-mobile{
	width: 13px;
	height: 21px;
	background: url(../img/icons/mobile.png) no-repeat center center;
}

.icon-person{
	width: 19px;
	height: 21px;
	background: url(../img/icons/person.png) no-repeat center center;
}

.icon-search{
	width: 23px;
	height: 22px;
	background: url(../img/icons/search.png) no-repeat center center;
}

.icon-warning{
	width: 38px;
	height: 38px;
	background: url(../img/icons/warning.png) no-repeat center center;
}

.icon-arrow-right{
	width: 15px;
	height: 10px;
	background: url(../img/icons/arrow-right.png) no-repeat center center;
}